* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #eee;
}
a {
    text-decoration: none;
    color: #86898f;
}
a:hover {
    opacity: 0.7;
}
h1 {
    margin: 20px 0;
}

ul {
    list-style: none;
}
.header ul {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
@media (max-width: 425px) {
    .header ul {
        flex-wrap: wrap;
        font-size: 14px;
    }
}

.contacts__list {
    display: flex;
}
.project-list {
    display: flex;
    width: 100%;
}
@media (max-width: 650px) {
    .project-list {
        display: block;
    }
    .contacts__list {
        justify-content: center;
    }
}
.project-list ul {
    width: 50%;
}
.project-list ul li a {
    color: #3912a5;
}
.project-list ul li {
    margin-bottom: 10px;
}
.container {
    max-width: 750px;
    margin: auto;
    padding: 15px 10px;
}
.info-pic {
    display: block;
    object-fit: cover;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.card {
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
}
.card:last-child {
    margin-bottom: 0;
}
.info {
    margin-bottom: 15px;
    display: flex;
}
@media (max-width: 650px) {
    .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.info-text {
    margin: 10px 30px;
}
.info h2 {
    padding: 5px 0 15px;
}
.info p {
    margin: 10px 0;
    font-style: italic;
    color: #86898f;
}
.card h2 {
    margin-bottom: 15px;
}
.card p {
    margin: 10px 0;
}
.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    color: #fff;
    border: none;
    background: rgb(5, 5, 5);
}
.btn:hover {
    opacity: 0.7;
}

.bg-green {
    background-color: rgb(187 236 220);
}
.bg-pink {
    background-color: rgb(240, 173, 237);
}
.bg-yellow {
    background-color: rgb(240 224 181);
}
.bg-violet {
    background-color: rgb(172, 156, 248);
}
.bg-black {
    background-color: rgb(28, 28, 28);
}

.bg-green p {
    color: #0f7474;
}
.bg-pink p {
    color: #5e1853;
}
.bg-black h2,
pre {
    color: rgb(255, 255, 255);
}
.table {
    width: 100%;
}
.table td {
    padding: 5px;
    color: rgb(141, 99, 23);
}
.table td:nth-child(1) {
    font-weight: bold;
}
.form-group {
    margin-bottom: 10px;
}
.form-row {
    display: flex;
}

.form-row .form-group {
    width: 50%;
}
@media (max-width: 650px) {
    .form-row {
        display: block;
    }
    .form-row .form-group {
        width: 100%;
        margin-bottom: 10px;
    }
}
.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #86898f;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px 0 10px;
    font-family: inherit;
    background: transparent;
    border-bottom: 1px solid #ccc;
    outline: none;
    border: none;
    color: #000;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.footer img {
    height: 30px;
}
.footer p {
    font-size: 20px;
    font-weight: 600;
}

